.footer {
    background-color: #f2f2f2; /* Cor de fundo cinza claro */
    color: #333; /* Texto em cinza escuro */
    text-align: center; /* Centralizar o texto */
    padding: 20px 25px; /* Espaçamento interno aumentado */
    font-size: 18px; /* Aumenta o tamanho da fonte */
}

.footer p {
    margin: 0; /* Remove margens padrão */
    line-height: 1.6; /* Ajusta o espaçamento entre linhas */
}

@media (max-width: 768px) {
    .footer {
      font-size: 14px; /* Ajuste de fonte para telas menores */
      padding: 15px 20px; /* Ajuste de espaçamento */
    }
}
