/* Navbar.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBB03B; /* Cor de fundo */
    padding: 10px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 50px;
    width: auto;
}

.navLinks {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navLinkItem {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: blue;
    font-size: 1.5em;
    font-weight: bolder;
    transition: color 0.3s ease;
}

.navLinkItem:hover {
    background-color: blue;
    color: #ffffff;
    padding: 10px;
}
